@model IEnumerable<Data.Access.Layer.Models.Gaurd>

@{
    ViewData["Title"] = "Badge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Badge</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempBadge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempBadge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpCode)
            </td>
            <td>
                    <a href="/Home/BadgeOut?id=@item.Id" class="btn btn-link text-primary one" onclick="return confirm('Are you sure, you want to SignOut badge?')"> Sign Out </a>
            
            </td>
        </tr>
}
    </tbody>
</table>
